rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /rooms/{roomId} {
      allow read: if request.auth != null;
      allow write: if false;

      match /players/{uid} {
        allow read: if request.auth != null;
        allow write: if false;
      }

      match /state/{docId} {
        allow read: if request.auth != null;
        allow write: if false;
      }

      match /private/{uid} {
        allow read: if request.auth != null && request.auth.uid == uid;
        allow write: if false;
      }

      match /proposals/{proposalId} {
        allow read: if request.auth != null;
        allow write: if false;
      }

      match /secret/{docId} {
        allow read, write: if false;
      }

      match /events/{eventId} {
        allow read: if request.auth != null;
        allow write: if false;
      }
    }

    match /roomCodes/{code} {
      allow read, write: if false;
    }
  }
}
